@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;

  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.bar {
  width: 100%;
  height: 2px;
  background-color: white;
  transition: transform 0.3s ease;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.img-bg {
  background-image: url(../assets/imgBG.jpg);
  background-position: center;
}

.carousel {
  transition: transform 0.5s ease;
}

.carousel.left-to-right {
  animation: slideLeftToRight 0.5s ease;
  animation-fill-mode: forwards;
}

.carousel.right-to-left {
  animation: slideRightToLeft 0.5s ease;
  animation-fill-mode: forwards;
}

@keyframes slideLeftToRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.slideshow {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* Set the aspect ratio (16:9 for example) */
  overflow: hidden;
}

.slideshow-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.loader {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #777;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button-container {
  position: relative;
}

.button-container .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-container .loading-text {
  opacity: 0;
}

.button-container.loading .loader {
  display: flex;
}

.button-container.loading .loading-text {
  opacity: 1;
}

.button-container.loading button {
  pointer-events: none;
  opacity: 0.5;
}

.added {
  background-color: #7a9f7a;
  color: #fff;
}

.added::after {
  content: " ✓";
}

.purchased {
  background-color: #7a7a9f;
  color: #fff;
}

.purchased::after {
  content: " ✓";
}
